* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: calc(100% - 40px);
  margin: 0 20px;
  background-color: #0a0a0a;
  color: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.heading-section {
  padding: 120px 0;
  background: url("img/photos/fish-background.png") no-repeat;
  background-size: contain;
  background-position: right bottom;
}

.heading-section h1,
.heading-section h4 {
  text-shadow: 0 0 20px rgb(0, 0, 0);
}

.hamburger-menu {
  transition: filter 250ms ease-in-out;
}

.hamburger-menu:hover {
  filter: brightness(0.4);
}

.go-up-btn {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.go-up-btn img {
  height: 50px;
}

.go-up-btn img:hover {
  filter: brightness(2);
}

.invisible-menu {
  display: none;
}

nav {
  padding-bottom: 20px;
  width: 100%;
}

nav ul {
  margin: 0;
}

nav ul li {
  background-color: #0a0a0a;
  font-size: 20px;
  padding: 10px 0;
  border-bottom: #1d1d1d 1px solid;
  transition: background-color 250ms ease-in-out, padding-left 250ms ease-in-out;
}

nav ul li:hover {
  background-color: #1d1d1d;
  padding-left: 20px;
}

nav ul li a{
  width: 100%;
  display: inline-block;
}

header img {
  height: 50px;
  width: auto;
}

img {
  width: 70vw;
  cursor: pointer;
}

#how-to-start-section ul .heading-item {
  transition: color 150ms ease-in-out, margin-left 150ms ease-in-out;
}

#how-to-start-section ul .heading-item:hover {
  color: #ca4747;
  margin-left: 20px;
}

.heading-item a {
  color: inherit;
}

hr {
  border: 0;
  border-top: 4px solid #ca4747;
  margin: 20px 0;
}

h1 {
  font-size: 50px;
}

h3 {
  margin: 20px 0;
  font-size: 24px;
}

h4 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: normal;
}

.start-btn {
  display: inline-block;
  margin-top: 20px;
  background-color: #ca4747;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 16px;
  transition: background-color 250ms ease-in-out;
  box-shadow: 0 0 50px 1px #000;
}

.section-logo {
  width: 30px;
  height: 30px;
  border: #fff solid 4px;
  border-radius: 10px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}

#history-section,
#definition-section,
#how-to-start-section,
#tank-section,
#light-section,
#filtration-section,
#fertilizing-section,
#arrangement-section,
#animals-section {
  margin: 50px 0;
  padding: 10px 0;
}

.bordered-img {
  box-shadow: -10px 10px 0 0 #ca4747;
  margin: 20px 0 20px 10px;
  width: calc(100% - 10px);
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 190%;
}

img {
  margin: 20px 0;
  width: 100%;
}

ul {
  list-style-position: inside;
  margin: 40px 0;
}

li {
  list-style-type: none;
}

.heading-item {
  list-style-image: url("img/icons/arrow.svg");
  font-weight: bold;
  height: 28px;
  line-height: 20px;
  margin: 20px 0;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

blockquote {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-style: italic;
  margin: 20px 0;
}

h5 {
  font-size: 20px;
}

i {
  color: #cdcdcd;
}

.animal-info p {
  margin-top: 20px;
}

.animal-info {
  margin-top: 30px;
}

.icon {
  height: 40px;
  width: 40px;
}

.icon:nth-child(2) {
  height: 32px;
  width: 35px;
  margin: 0 3px 24px 0;
}

.contact-section h5 {
  margin: 10px 0;
  color: white;
}

.contact-section {
  color: #909090;
}

.footer-logo {
  width: 100px;
  margin: 0;
}

.logo-copyright-section {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

footer {
  margin-bottom: 40px;
}

iframe {
  margin: 20px 0;
  height: 250px;
}

.start-btn:hover {
  background-color: #722929;
}

.gallery {
  display: none;
}

.gallery-item {
  transition: filter 150ms ease-in-out;
}

.gallery-item:hover {
  filter: contrast(70%);
}

.gallery-active {
  padding: 0 20px;
  background-color: rgba(1, 1, 1, 0.8);
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100vw - 40px);
  top: 0;
  left: 0;
  font-size: 30px;
}

.gallery-wrapper {
  max-width: 120vh;
  max-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
}

.hide-btn,
.forwards,
.backwards {
  text-align: center;
  width: 40px;
  width: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide-btn:hover,
.forwards:hover,
.backwards:hover {
  color: #ca4747;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.appear {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
}

@media screen and (min-width: 576px) {
  #welcome-section {
    background-size: 40vw auto;
    background-position: right bottom;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 24px;
  }

  i {
    font-size: 20px;
  }

  .amano1,
  .amano2 {
    width: 60%;
  }

  iframe {
    height: 400px;
  }

  .heading-section {
    padding: 250px 0;
  }
}

@media screen and (min-width: 992px) {
  #welcome-section {
    background-size: auto 100%;
    background-position: right;
  }

  .heading-section hr {
    width: 50%;
  }
  body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  main {
    max-width: 992px;
  }

  blockquote {
    font-size: 40px;
  }

  footer {
    display: flex;
  }

  .contact-section {
    color: #909090;
    width: 50%;
  }

  .map-section {
    width: 50%;
  }

  .animals-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "info1 img1"
      "img2 info2"
      "info3 img3"
      "img4 info4"
      "info5 img5";
  }

  .grid1 {
    grid-area: img1;
  }
  .grid2 {
    grid-area: img2;
  }
  .grid3 {
    grid-area: img3;
  }
  .grid4 {
    grid-area: img4;
  }
  .grid5 {
    grid-area: img5;
  }
  .grid6 {
    grid-area: img6;
  }
  .grid7 {
    grid-area: img7;
  }

  .info1 {
    grid-area: info1;
  }
  .info2 {
    grid-area: info2;
  }
  .info3 {
    grid-area: info3;
  }
  .info4 {
    grid-area: info4;
  }
  .info5 {
    grid-area: info5;
  }
  .info6 {
    grid-area: info6;
  }
  .info7 {
    grid-area: info7;
  }

  .animals-gallery2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "img6 info6"
      "info7 img7";
  }

  .from-left {
    transform: translateX(-50%);
  }

  .from-right {
    transform: translateX(50%);
  }

  .from-left,
  .from-right {
    transition: transform 400ms ease-in, opacity 250ms ease-in;
    opacity: 0;
  }

  .from-left.appear,
  .from-right.appear {
    transform: translateX(0);
    opacity: 1;
  }
}
