body{
    margin: 0;
    padding: 0;
    background-color: #f3f4f5;
}

.upper-container{
    padding: 0 15px;
    background: url('masthead@2x.jpg') center center no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

header{
    padding: 30px 0 25px;
    border-bottom: 1px solid #cad2d7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-image{
    height: 52px;
    width: 131px;
}

.logo{
    padding-bottom: 20px;
}

.menu-btn{
    width: 100%;
    padding: 0.3em 1.2em;
    background-color:#ffc000;
    border: none;
    border-radius: 3px;
    color: #2d3438;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: bold;
    transition: color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
}

ul{
    padding: 0;
    list-style: none;
    text-align: center;
}


li{
    margin: 10px 0;
    padding: 0.3em 1.2em;
    color: #2d3438;
    transition: background-color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
}

li a{
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: bold;
    color: inherit;
}

.active-page{
    border-radius: 3px;
}

li:hover, .menu-btn:hover{
    background-color: #646d72;
    color: #fff;
}

.display-toggle{
    display: none;
}

h1{
    font-size: 72px;
    font-family: "Roboto";
    font-weight: bolder;
    color: #fff;
    margin-bottom: 15px;
}

h3{
    letter-spacing: 0;
    font-family: "Aleo";
    font-weight: normal;
    color: #e2e2e2;
    font-size: 28px;
}

h5{
    margin: 25px 0 0px;
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto';
}

p{
    margin: 1em 0;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #fff;
}

p a{
    color: #2d3438;
}

.lower-container{
    padding: 0 15px;
}

.lower-container p{
    color: #656a6f;
}

h2{
    font-size:36px;
    font-family: "Roboto";
    font-weight: bold;
    color: #2d3438;
}

h2::after{
    content: '.';
    height: 5px;
    width: 5px;
    color:#ffc000;
}

.info-container{
    margin-bottom: 30px
}

.more{
    color: #2d3438;
    font-family: "Roboto";
    font-weight: bold;
}

.more::before{
    content: '🠚 ';
    color:#ffc000;
}

footer{
    margin: 100px 0 120px;
    border-top: 1px solid #cad2d7;
    padding: 50px 0 50px;
}

.social-link{
    width: 31px;
    margin: 2px;
    display: inline-block;

}

.social-link img{
    opacity: 0.4;
    width: 100%;
}

.icon-container{
    display: flex;
    justify-content: center;
}

.logo-foot{
    width: 45px;
    height: 19px;
    display: inline-block;
    margin-right: 10px;
}

.logo-foot img{
    width: 100%;
}

.copyright-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #9fa6aa;
    font-family: 'Roboto';
    font-size: 14px;
}